*{
    margin: 0%;
    padding: 0%;
font-family: sans-serif;
}
#img1{
    width: 100px;
    
    }
 h1{

    font-weight: bolder;
}
 h6{
margin-left: -100px;
 
}
p{
color: rgb(83, 81, 81);


}
#sp{
    height: 600px;
    
}

#in4{

    width: 320px;
    height: 37px;
margin-left: 53px;
border: none;
color: white;
background-color: rgb(154, 179, 223);

}
#in4:hover{

    background-color: rgb(81, 123, 197);

}
    
